* {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  background-color: black;
}

.header {
   position: relative;
   width: 100%;
   padding: 16px;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
   background-image: url("background3.jpg");
}

.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: white;
   text-align: center;
   top: 33%;
   left: 20%;
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}


.main-title .thin {
   font-weight: 300;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 33.33%;
  border: solid;
  border-width: 1px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.header2 {
  width: 100%;
  color: white;
  background-color: black;s
}

.column {
  float: left;
  width: 33%;
  padding: 15px;
  text-align: center;
  background-color: black;
  color: white;
  height: 100%
}

.row {
  background-color: black;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li.menu {
  float: left;
}

li a.menu {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

hr {
  color: white;
}

.hover figure img {
  height:auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover figure:hover img {
	width: 370px;
}

div.panela, p.flipa, img.flipa {       
  line-height: 30px;
  margin:auto;
  font-size:16px;
  padding:5px;
  text-align:center;
  background:black;
  color:#ffffff;
}
      
div.panela {
    display:none;
}

p.flipa {
    cursor:pointer;
}

div.panelb, p.flipb, img.flipb {       
    line-height: 30px;
    margin:auto;
    font-size:16px;
    padding:5px;
    text-align:center;
    background:black;
    color:#ffffff;
}

div.panelb {
    display:none;
}

p.flipb {
    cursor:pointer;
}

div.panelc, p.flipc, img.flipc {       
    line-height: 30px;
    margin:auto;
    font-size:16px;
    padding:5px;
    text-align:center;
    background:black;
    color:#ffffff;
}

div.panelc {
    display:none;
}

p.flipc {
    cursor:pointer;
}